.buttom button:hover{
    background-color: #2c3e50;
}
.logo{
    font-weight: 700;
}
.nav{
    margin: auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}
.navbtn button{
    color: #fff;
    font-size: 17px;
    display: inline-block;
    /* width: 200px; */
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
    font-weight: 900;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.nav button:after{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #0a1520;
    transition: .4s;
    z-index: -1;
}
.nav button:hover:after{
    left: 0;
    
}
.navbar ul li a{
    position: relative;
    z-index: 2;
    overflow: hidden;
   
   
}
.navbar ul li a:before{
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 90px;
    background-color: #333;
    transition: .3s;
    z-index: -1;
      

}
.navbar ul li a:hover:before{
    bottom: -4px;
}



/* responsive code */

/* Medium Layout: 1280px. */
/* Checking Size 1000px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
 .nav{
     width: 972px;
    
 }
 .logo{
     width: 972PX;
     text-align: center;
 }
 .navbar{
        width: 600px;
    }
    .navbar ul li a{
    }
.navbar ul li a:before{ 
        left: 0;
        bottom: 190px;
    }
    .navbar ul li a:hover:before{
        bottom: -14px;
    }
    
 
}

/* Tablet Layout: 768px. */
/* Checking Size 800px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nav{
        width: 750px;
        
       
    }
    .logo{
        width: 750PX;
        text-align: center;
    }
    .navbar{
           width: 450px;
       }
       .navbar ul li a{
           font-size: 14px;
    
       }
   .navbar ul li a:before{ 
           left: 0;
           bottom: 190px;
       }
       .navbar ul li a:hover:before{
           bottom: -12px;
       }
       .navbtn button{
           font-size: 13px;
           border-radius: 15px;
       }
}

/* Mobile Layout: 320px. */
/* Checing Point: 400px */
@media only screen and (max-width: 767px) {
    .nav{
        width: 320px;
        
       
    }
    .logobar{
        order: 2;
        width: 170PX;
        text-align: center;
    }
    .logo{

    }
    .navbar{
        order: 3;
           width: 320px;
           background-color:#0a1520;
       }
       .navbar ul li a{
           font-size: 14px;
    
       }
   .navbar ul li a:before{ 
           left: 0;
           bottom: 190px;
       }
       .navbar ul li a:hover:before{
           bottom: -12px;
       }
       .navbtn{
           order: 1;
       }
       .navbtn button{
           font-size: 13px;
           border-radius: 15px;
       }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .nav{
        width: 450px;   
    }
    .logobar{
        order: 2;
        width: 210PX;
        text-align: center;
    }
    .logo{

    }
    .navbar {
        order: 3;
        width: 450px;
        margin-bottom: 15px;
        justify-content: center;
        background-color: #0a1520;
        color: #fff;
    }
       .navbar ul{
           flex-direction: column;
           left: -10px;
       }
       .navbar ul li{
           display: block;
           text-align: center;
           justify-content: center;
           background-color: #fff;
           width: 400px;
           margin-bottom: 5px;
           border-radius: 10px;
           
       }
       .navbar ul li a{
           display: block;
           font-size: 14px;
           padding: 10px 20px;
    
       }
       .navbtn{
           order: 2;
       }
       .navbtn button{
           /* top: -287px;
           left: -34px; */
           font-size: 13px;
           border-radius: 15px;
       }
}
