
/* .latest-car {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 50px;
  } */
  .latest-car{
    background-color: #ddd;
    display: grid;
    grid-template-columns: 95%;
    border-radius: 10px;
  }
  
  .car-container {
    width: 1170px;
    margin: 0 auto;
  }
  .single-latest-car .image img{
      background-image: url('../../../public/2.jpg');
  }  


/* Inline #28 | http://localhost:3000/ */

.single-latest-car {
    display: grid;
    grid-template-columns: 35% 65%;
    /* margin-bottom: 30px; */
    color: #fff;
    padding: 20px;
  }
  .latest-car-content{
      background-color: #363949;
      padding: 20px 10px;
  }
  .latest-car-content h1 {
    font-size: 40px;
    font-weight: 600;
  }
  
  .latest-car-content p {
    font-weight: 400;
  }
  
  .latest-car-content .price {
    display: flex;
  }
  
  
  .price h2 {
    font-size: 23px;
    font-weight: 600;
    margin-right: 26px;
  }
  