.form-container{
    font-family: 'Poppins', sans-serif;
    width: 1000px;
    background-color: #F8F9FA;
    border: 8px ridge #F8F9FA;
    /* border: 4px ridge #e74c3c; */
    padding: 30px 25px;
    margin: auto;
    margin-top: 60px;
    position: relative;
   
}
.form-container h1{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.form-container::before{
    position: absolute;
    content: "";
    background-image: url('../../../public/contact.png');
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 230px;
    right: 0;
    top: 0;
}
.sub-btn input{
    /* display: inline-block;
    padding: 10px 35px;
    background-color: #2ecc71;
    position: relative;
    overflow: hidden;
    z-index: 2; */

    
    border: 3px ridge #DC3545;
    color: #DC3545;
    font-size: 20px;
    display: inline-block;
    /* width: 200px; */
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 900;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.sub-btn input:hover{
    color: #333;
    border: 3px ridge #0a0a0a;
}

 .text-green{
    color: #DC3545;
    font-weight: 900;
} 
/* .inputt{
    background-color: #98BE25;
    color: #fff;
}  */
.bg input:hover{
    background-color: #333;
    color: #fff;
}



/* Responsive code */
/* Medium Layout: 1280px. */
/* Checking Size 1000px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .form-container{
        width: 970px;
        padding: 30px 25px;     
    }
    .form-container::before{
        width: 200px;
        height: 230px;
        right: 0;
        top: 0;
    }
    .sub-btn input{ 
        font-size: 20px;
        padding: 15px 30px;
    }
    .sub-btn input:before{
    }

}

/* Tablet Layout: 768px. */
/* Checking Size 800px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .form-container{
        width: 750px;
        padding: 30px 25px;     
    }
    .form-container::before{
        width: 140px;
        height: 165px;
        right: 0;
        top: 0px;
    }
    .sub-btn input{ 
        font-size: 20px;
        padding: 15px 30px;
    }
    .sub-btn input:before{
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
    }
}

/* Mobile Layout: 320px. */
/* Checing Point: 400px */
@media only screen and (max-width: 767px) {
    .form-container{
        width: 350px;
        padding: 30px 25px;     
    }
    .form-container h1{
        font-size: 20px;
        text-align: start;
    }
    .form-container::before{
        width: 130px;
        height: 160px;
        right: 0;
        top: 0px;
    }
    .sub-btn input{ 
        font-size: 20px;
        padding: 15px 30px;
    }
    .sub-btn input:before{
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
    }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .form-container{
        width: 450px;
        padding: 30px 25px;     
    }
    .form-container h1{
        font-size: 20px;
        text-align: start;
    }
    .form-container::before{
        width: 130px;
        height: 160px;
        right: 0;
        top: 0px;
    }
    .sub-btn input{ 
        font-size: 20px;
        padding: 15px 30px;
    }
    .sub-btn input:before{
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
    }
}
